
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%; /* Ensure full height for the root elements */
}


#root
{
  margin: 0 auto;
  text-align: center;
}



.background_image
{
    display: flex;
    flex-direction: column;
    background-image: url('../public/Background_Image.webp');
    background-size: cover; /* Scale image to fill entire container */
    background-repeat: no-repeat; /* Optional: Prevent repetition */
    background-position: center;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    width: 100vw; /* Fill the entire viewport width */
    height: 100vh; /* Fill the entire viewport height */
}


.login_component_group,
.login_component_group *
{
    box-sizing: border-box;
}

.login_component_group
{
    display: flex;
    flex-direction: column;

    width: 300px;
    padding: 2em;
    border-radius: 8px;
    overflow: hidden;
}

.read-the-docs
{
  color: #888;
}
